
a{
    text-decoration: none;
    color:blue;
    
}
li{
    list-style-type: none;
}

img{
    width:200px;
    height:250px;
    object-fit:contain;
}
.flash-sale-slider img{
    width:500px;
    height:300px;
    object-fit:contain;
    

}
.home-page{
    margin:4%;
}

footer{
    padding:3%;
    text-align:center;
    color:white;
    font-size:20px;

}